@model List<AppUser>

@if (Model?.Any() == true)
{
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users Information</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @*<th>Id</th>*@
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td class="align-middle text-center">@item.Id</td>*@
                                <td class="align-middle">@item.UserName</td>
                                <td class="align-middle">@item.Email</td>
                                <td class="align-middle text-center">
                                    <a class="btn-sm btn-outline-secondary" asp-controller="User" asp-action="Add" asp-route-id="@item.Id"><i class="far fa-address-card"></i></a>
                                    <a class="btn-sm btn-outline-primary" asp-controller="User" asp-action="Update" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                    <a class="btn-sm btn-outline-danger" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Notice!</strong> There is no any recored in DB.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


@section scripts
{
<script>
    $(document).ready(function () {
        $(".collapse-item").click(function() {
            $(this).addClass("active");
            
        });

        if (!$("#collapseUsers").hasClass("show")) {
            $("#collapseUsers").addClass("show");   
        }

    });
</script>
}