@model PhoneBook.Endpoints.UI.MVC.Models.Contacts.AddNewContactDisplayViewModel

@{
    List<int> selectedTag = (List<int>)ViewBag.SelectedItem;
}

@section head
{
<link href="~/vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
}

<form asp-controller="Contact" asp-action="Add" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input type="text" asp-for="FirstName" class="form-control" maxlength="100" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input type="text" asp-for="LastName" class="form-control" maxlength="200" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control" maxlength="100" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input type="text" asp-for="Address" class="form-control" maxlength="500" />
        <span asp-validation-for="Address"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image"></span>
    </div>

    <div class="form-group">
        <label asp-for="TagsForDisplay">Tag</label>
        <select class="form-control select2" name="SelectedTag" multiple>
            @foreach (var item in Model.TagsForDisplay)
            {
                if (ViewBag.SelectedItem != null && selectedTag.Contains(item.Id))
                {
                    <option selected value="@item.Id">@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    </div>

    @*<div class="form-group">*@
    @*<button type="button" class="btn btn-secondary" asp-controller="People" asp-action="Index">Cancel</button>*@
    <input type="button" class="btn btn-secondary" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Contact") + "'");" />
    <input type="submit" class="btn btn-success" value="Save" />
    @*</div>*@

</form>

@section scripts
{
<script src="~/vendor/select2/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.select2').select2();

        //$(".collapse-item").click(function() {
        //    $(this).addClass("active");
        //});
    });
</script>
}
